.navbar-brand{
margin-left: 40%;
}
.image1{
    margin-left: 20px;
}
.navbar{
    margin-top:-12px;
    margin-left: -12px;
    width: 101.9%;
}
.services{
    margin-top: 50px;
}


.image1{
    margin-top: 20px;
    margin-left: 10px;
    
  
}
.text{ 
    margin-left:2%;
}
.image2{
    margin-top: -407px;
    margin-left: 31rem;
}
.image3{
    margin-top: -407px;
    margin-left: 62rem;
    
  
}

.image4{
    margin-top: 20px;
    margin-left: 10px;
  
}
.image5{
    margin-top: -30rem;
    margin-left: 31rem;
}
.image6{
    margin-top: -30.5rem;
    margin-left: 62rem;
  
}
.form{
    margin-top: 20px;
        height: 100px;
        width: 100%;
     }
     .v1{
        height:100px;
     }
     .form1{
        margin-left: 5%;
        margin-top: -950px;
     }
   
     .button1{
        margin-top: 10px;
        margin-left:8%;
     }
